In [1]:
d=dict()

In [5]:
d['Name']='Adam'
d['Age']=6
d['school']='cedar'

In [7]:
for (k,v) in d.items():
    print(k,v)

adam 4
james 6
Name Adam
Age 6
school cedar

In [8]:
print(d)

{'adam': 4, 'james': 6, 'Name': 'Adam', 'Age': 6, 'school': 'cedar'}

In [10]:
d.pop('adam')

4

In [11]:
print(d)

{'james': 6, 'Name': 'Adam', 'Age': 6, 'school': 'cedar'}

In [12]:
d.pop('james')

6

In [13]:
print(d)

{'Name': 'Adam', 'Age': 6, 'school': 'cedar'}

In [14]:
for (k,v) in d.items():
    print(k,v)

Name Adam
Age 6
school cedar